//Common colors
$body-bg-color: #F1F3F5;
$container-bg-color: #F1F1F1;
$container-items-bg-color: #FCFCFC;
$avatar-bg-color: #D1D1D1;
$vtitle-txt-color: #5A5A5A;
$sub-txt-color: #545454;
$secondary-txt-color: #A0A0A0;
$normal-txt-color: #3A3A3A;
$grey-hr: #F2F2F2;
