//Common colors
$body-color: #FFFFFF;
$container-color:#F1F1F1;
$avatar-bg-color:#D1D1D1;
$v-title-txt-color:#5A5A5A;
$primary-b-txt-color:#545454;
$secondary-txt-color:#A0A0A0;
$normal-txt-color:#3A3A3A;
