@import "colors";

//////////////////////////////
///VIDEO THUMBNAIL

//////////////////////////////
///VIDEO TITLE

$verdana: Verdana, Helvetica, Arial, sans-serif;

.vtitle-details{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.vtitle-details > * {
    font-family: $verdana;
    margin-left: 8px;
}

.vtitle-text{
    font-size: 13px;
    font-weight: bold;
    color:$vtitle-txt-color;
    margin-top: 6px;
    opacity: 0.9;
}


.vtitle-subtext{
    font-size: 12px;
    font-weight: regular;
    color:$sub-txt-color;
    opacity: 0.6;
    margin-top: 7px;
}


//////////////////////////////
///CHANNEL INFORMATION

.cinfo-avatar{
   flex: 0 0 auto;
   width: 38px;
   height: 38px;
   background-color: $avatar-bg-color;
   //padding: 6px;
   background-size: cover;
   border-radius: 100%;
   background-position: center center;
   margin-left: 8px;
   margin-top: 8px;

   .cinfo-avatar-image {
        width: 34px;
        height: 34px;
        background-size: cover;
        border-radius: 100%;
        background-position: center center;
        margin: 2px;
   }
}

.cinfo-details{
    flex: 0 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.cinfo-details > * {
    font-family: $verdana;
    margin-left: 8px;
}

.cinfo-text{
    font-size: 13px;
    font-weight: bold;
    color:$vtitle-txt-color;
    text-transform: uppercase;
    margin-top: 6px;
    opacity: 0.9;
}


.cinfo-subtext{
    font-size: 12px;
    font-weight: regular;
    color:$sub-txt-color;
    opacity: 0.6;
    margin-top: 7px;
}



//////////////////////////////
///COMMENTS DETAILS

.vcomments-summary{
    flex: 0 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid $grey-hr;
    margin-left: 6px;
    margin-right: 6px;
}

.vcomments-summary > * {
    font-family: $verdana;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    color:$vtitle-txt-color;
    margin-top: 3px;
    opacity: 0.9;
}

.vcomments-total {
    width: 7%;
    margin-top: 7px;
}

.vcomments-summary-txt{
    margin-top: 7px;
    margin-left: 8px;
}

.vcomments-box{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    list-style: none;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 93%;
}

.vcomment-details{
    border-bottom: 1px solid $grey-hr;
    padding-bottom: 15px
}

.vcomment-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
}

.vcomment-header > * {
    font-family: $verdana;
    margin-left: 8px;
}

.vcomment-avatar{
    flex: 0 0 auto;
    width: 38px;
    height: 38px;
    background-color: $avatar-bg-color;
    //padding: 6px;
    background-size: cover;
    border-radius: 100%;
    background-position: center center;
    margin-top: 6px;
    margin-left: 8px;

    .vcomment-avatar-image {
        width: 34px;
        height: 34px;
        background-size: cover;
        border-radius: 100%;
        background-position: center center;
        margin: 2px;
   }
}

.vcomment-author {
    display: flex;
    flex-direction: column;
}

.vcomment-author-name{
    font-size: 13px;
    font-weight: bold;
    color:$vtitle-txt-color;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: 10px;
    opacity: 0.9;
}

.vcomment-time{
    text-align: left;
    margin-top: 6px;
    margin-left: 12px;
    font-family: $verdana;
    font-size: 12px;
    font-weight: regular;
    color: $sub-txt-color;
    opacity: 0.9;
}

.vcomment-text {
    margin-left: 8px;
    margin-top: 10px;
    font-family: $verdana;
    font-size: 15px;
    font-weight: regular;
    word-wrap: break-word;
    color: $normal-txt-color;
    opacity: 0.9;
}