.container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   align-self: stretch;
   max-width:628px;
   height: 100%;
   //margin-top: 5px;
   //margin-bottom:5px;
   margin-left: auto;
   margin-right: auto;
   padding: 6px;
   background-color:$container-bg-color;
   box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.container > * {
   flex: 1 1 auto;
}

.vdisplay{
   width: 100%;
   height: 460px;
   //margin-top: 10px;
   background-color: $container-items-bg-color;
}

.vtitle{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 120px;
   margin-top: 6px;
   background-color: $container-items-bg-color;
}

.cinfo{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 120px;
   margin-top: 6px;
   background-color: $container-items-bg-color;
}

.vcomments{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   align-self: stretch;
   width: 100%;
   height: 100%;
   margin-top: 6px;
   margin-bottom: 0px;
   background-color: $container-items-bg-color;
}